.btn {
   color: var(--theme);
   text-align: center;
   width: 100%;
   margin: 1rem 0rem;
   padding: .5rem !important;
   background-color: var(--white);
   border: 1px solid var(--theme);
   border-radius: .25rem;
   cursor: pointer;
   display: flex !important;
   align-items: center;
   justify-content: center;
   font-size: 1rem;
   height: auto !important;
}

.btn:hover {
   background-color: var(--theme);
   color: var(--white);
   transition: all .3s;
}

.btn-blue {
   background-color: var(--theme);
   color: var(--white);
}

.btn-blue:hover {
   background-color: var(--white);
   color: var(--theme);
   transition: all .3s;
}
